@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
 --orange: rgb(219, 81, 63);
 --oranga: rgb(153, 67, 56);
 --gradient: linear-gradient(90deg, var(--orange), var(--oranga));
}


* {
 font-family: 'Poppins', sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 outline: none;
 border: none;
 text-transform: capitalize;
}

*::selection {
 background: var(--orange);
 color: #fff;
}

html {
 font-size: 62.5%;
 overflow-x: hidden;
}

body {
 background: #f9f9f9;
}

section {
 min-height: 100vh;
 padding: 0 9%;
 padding-top: 7.5rem;
 padding-bottom: 2rem;
}

.btn {
 display: inline-block;
 margin-top: 1rem;
 padding: .8rem 3rem;
 border-radius: 5rem;
 background: var(--gradient);
 font-size: 1.7rem;
 color: #fff;
 cursor: pointer;
 box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
 transition: all .3s linear;
}

.btn:hover {
 transform: scale(1.1);
}

.heading {
 text-align: center;
 background: var(--gradient);
 color: transparent;
 -webkit-background-clip: text;
 background-clip: text;
 font-size: 3.5rem;
 text-transform: uppercase;
 padding: 1rem;
}

header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background: #fff;
 box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
 padding: 2rem 9%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 z-index: 1000;
}
/*----------------logo style--------------------*/
header .logo {
 font-size: 2rem;
 color: var(--orange);
}

header .logo span {
 color: var(--oranga);
}
/*--------------------menu---------------------*/
header .Menu a {
 font-size: 1.7rem;
 margin-left: 2rem;
 color: var(--oranga);
}

header .Menu a:hover {
 color: var(--orange);
}

header input {
 display: none;
}

header label {
 font-size: 3rem;
 color: var(--oranga);
 cursor: pointer;
 visibility: hidden;
 opacity: 0;
}

/* media queries  */

@media (max-width:1200px) {

 html {
  font-size: 55%;
 }

}

@media (max-width:991px) {

 section {
  padding: 0 3%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
 }

}

@media (max-width:768px) {

 header label {
  visibility: visible;
  opacity: 1;
 }

 header .Menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 1rem 2rem;
  border-top: .1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: .2s linear;
 }

 header .Menu a {
  display: block;
  margin: 2rem 0;
  font-size: 2rem;
 }

 header input:checked~.Menu {
  transform: scaleY(1);
  opacity: 1;
 }

 header input:checked~label::before {
  content: '\f00d';
 }
}

.about-us {
 background: url(../images/about-us-bg.png) no-repeat;
 background-size: cover;
 background-position: center;
 padding-bottom: 3rem;
}

.about-us .column {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
}

.about-us .column .image {
 flex: 1 1 40rem;
}

.about-us .column .image img {
 width: 100%;
}

.about-us .column .content {
 flex: 1 1 40rem;
}

.about-us .column .content h3 {
 font-size: 3rem;
 color: #666;
}

.about-us .column .content p {
 font-size: 1.5rem;
 color: #666;
 padding: 1rem 0;
}

.about-us .column .content .buttons a:last-child {
 margin-left: 2rem;
}
.review .box-container {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
}

.review .box-container .box {
 background: #fff;
 margin: 1rem;
 padding: 1rem;
 text-align: center;
 position: relative;
 border: .1rem solid rgba(0, 0, 0, .2);
 box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
 flex: 1 1 30rem;
 border-radius: .5rem;
}

.review .box-container .box .fa-quote-right {
 position: absolute;
 top: 1rem;
 right: 2rem;
 font-size: 8rem;
 color: var(--pink);
 opacity: .3;
}

.review .box-container .box .user h3 {
 color: var(--pink);
 font-size: 2rem;
}

.review .box-container .box .user .stars i {
 color: var(--purple);
 font-size: 1.5rem;
 padding: 1rem 0;
}

.review .box-container .box .comment {
 color: #666;
 font-size: 1.4rem;
 padding: 1rem;
}

/*animate background color*/
.content h3 {
 font-style: italic;
 font-size: 20px;
 text-align: center;
}
.content p {
 font-size: 15px;
}
.content {
 width: auto;
 height: auto;
 background: rgb(219, 81, 63);
 animation: mymove 5s infinite;
}

@keyframes mymove {
 from {background-color: rgb(219, 81, 63);}
 to {background-color: rgb(153, 67, 56)}
}